.all {
    background-image: url('./Img/road.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    opacity: 0.8;
}

.styleh1 {

    font-size: 100px;
    padding-top: 300px;
    padding-left: 30px;
    color: #fff;
    opacity: 0.7;
}